/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Grid Layout */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

/* Header Styling */
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Times New Roman ;
}

/* Navigation Menu - Flexbox */
nav ul {
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 25px;
    list-style: none;
    font-family: Times New Roman ;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

/* Main Content Layout */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    padding: 100px;
    background: white;
}

/* Main Section */
.main-content {
    justify-content: space-around;
    background: lightgray;
    padding: 50px;
}

/* Aside Section */
.aside-content {
    justify-content: space-around;
    background: white;
    padding: 40px;
}

/* Footer Styling */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}
